include index
  h1 Create a Group
  hr
  form(name='createGroupForm' ng-controller='createGroupController' ng-submit='submit()' ng-init='courses = #{courses}')
    table
      tr
        td
          label Course affiliation*
        td
          select(ng-model='group.course_id' ng-options='course._id as course.name for course in courses').selectField
            option(value="") select course 
          span.input_error(ng-show="createGroupForm.group.course_id.$error.required") *required

      tr
        td
          label Group name*
        td
          input.createGroup(name='group_name' ng-model='group.name' ng-minlength='1' size='60' ng-required="true" required)
          span.input_error(ng-show="createGroupForm.group.name.$error.required") *required
      tr
        td
          label Motto
        td
          input.createGroup(size='60' ng-model='group.motto')
      tr
        td
          label Description
        td
          textarea.createGroup(cols='43', rows='10' ng-model='group.description')
      tr
        td
          label Entry Question
        td
          input.createGroup(size='60' ng-model='group.entry_question')
      tr 
        td
          label(for='intensity') Intensity
        td
          select(ng-model='group.intensity' ng-options='intensity for intensity in intensities' value='low' ).selectField
             option(value="") select intensity 
      tr
        td
        td 
          input(type='submit' value="Submit")#submit