include index

h1 Create a Group
form.createGroup(ng-submit='submit()' ng-controller='createGroupController')
  label(ng-model='course') Course affiliation
    input.createGroup(max=140)
  label Group name
    input.createGroup(max=140)
  label Motto
    input.createGroup(max=140)
  label Description
    input.createGroup(max=500)
  input(type='submit' id='submit')