include index
  h1 #{group_name}
  .shareDiv(ng-controller="shareController" ng-init="flashcards = #{flashcards}")
    .flashcardPad(ng-repeat="flashcard in flashcards")  
      textarea(id="pad{{$index}}")
    
  