include index
  h1 #{group_name}
  .shareDiv(ng-controller="shareController" ng-init="flashcards = #{flashcards}; topic = #{topic}")
    a(href="#" ng-click="addFlashcard()").requests + Add flashcard
    h3 {{topic.title}}
      span Saved!
    p
    .flashcardPad(ng-repeat="flashcard in flashcards")  
      .cardPads(id="{{topic._id}}-pad{{$index}}")
        textarea(id="{{topic._id}}-pad{{$index}}-term" placeholder="Enter term here...").editTerm
        textarea(id="{{topic._id}}-pad{{$index}}-def" placeholder="Enter definition here...").editDef
        button(ng-click="removeFlashcard($index)" id='removeButton') x
    button(ng-click="saveText()") Save Flashcards
      
  