include index
  h1 #{group_name}
  .shareDiv(ng-controller="shareController" ng-init="flashcards = #{flashcards}; topic = #{topic}")
    .flashcardPad(ng-repeat="flashcard in flashcards")  
      textarea(id="pad{{$index}}-term")
      textarea(id="pad{{$index}}-def")
      
  