include index
  .groupSearch(ng-controller="findGroupController" ng-init="groups = #{groups}")
    h1 FIND A GROUP
    hr
    input(type='button' ng-click='clicked = !clicked' value='Search by name' ).findGroupButton 
    input(type='button' ng-click='clicked = !clicked; getCourses()' value='Search by course').findGroupButton 
    
    input(name='search_for_group' ng-model='searchForGroup' placeholder='search for a group...')#searchForGroup
    .findGroupBox(ng-class='info')
      div(ng-repeat="group in groups | filter:searchForGroup" ng-show='!clicked')
        ul
          li {{ group.name }}
          li(ng-repeat='user in group.users')
            span {{ user }}
          a(href='/join_group/{{group.name}}')
            input(type='button' model='joinGroup' value='request to join'  class='requests') 
        hr.smaller
      div(ng-repeat="course in courses | filter:searchForGroup" ng-show='clicked')
        ul(ng-repeat='group in course.groups')
          li {{ group.name }}
          li.gray {{ course.name }}
          li(ng-repeat='user in group.users')
            span {{ user }}
          a(href='/join_group')
            input(type='button' model='joinGroup' value='request to join' class='requests') 