include index
  h1 #{group_name}
  .allFlashcardsDiv(ng-controller='flashcardController' ng-init='flashcards=#{flashcards}; lecture=#{lecture}')
    h2 #{flashcards}
    .flashcardDiv(ng-repeat='flashcard in flashcards')
      {{flashcard}}
      
    a(href='/groups/{{lecture.group_id._id}}/flashcards/{{lecture._id}}/edit') Edit flashcards