html(lang="en" ng-app='app')
  head
    title Finals Club
    link(type="text/css" rel="stylesheet" href="/css/fonts.css")      
    link(type="text/css" rel="stylesheet" href="/css/app.css")      
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular/angular.js") 
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular-route/angular-route.js") 
    script(src="/js/app.js")
  body
    header#masthead
      nav#login-nav
        ul
          if user
            li
              a(href="#").username.loginText #{user}
              img(src='#{image}')
              a(href="/log_out").loginText X
          else
            li
              a(href="/sign_up")#register_link Sign Up
            li
              a(href="/log_in")#login_link Log in
      .wrapper
        a(href='/')
          img(src='/img/logo.png' alt='Finals Club - social note taking')#logo
        nav#main-nav
          if user
            a(href="/") Groups
            a(href="/") Meetings
          else
            a(href="/groups/search") Find Groups
            a(href="/groups/new") Create a Group
    .wrapper
      =yield
