html(lang="en" ng-app='app')
  head
    title Finals Club
    link(type="text/css" rel="stylesheet" href="/css/app.css")      
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular/angular.min.js") 
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular-route/angular-route.min.js") 
    script(src="/browserchannel/dist/bcsocket.js") 
    script(src="/share/webclient/share.js") 
    script(src="/share/webclient/textarea.js") 
    script(src="/js/app.js")
  body
    header#masthead
      nav#login-nav
          if user
            ul
              li
                p
                  a(href="#").username #{user}
                p
                  a(href="/log_out") Log out 
              li.facebook-picture
                img(src='#{image}' width='50px' height='50px')
          else
            .signupDiv
            ul
              li
                a(href="/log_in" class="loginOptions") Sign Up 
              li
                a(href="/log_in" class="loginOptions") Log in
        .wrapper
          a(href='/')
            img(src='/img/logo.png' alt='Finals Club - social note taking' width='312px' height='39px')#logo
          nav#main-nav
            a(href="/groups/search") Find Groups
            a(href="/groups/new") Create a Group
    .fadingWrapper(id='fade')
    .contentWrapper
      =yield