doctype html
html(lang="en" ng-app='app')
  head
    title Finals Club
    link(type="text/css" rel="stylesheet" href="/css/fonts.css")      
    link(type="text/css" rel="stylesheet" href="/css/style.css")      

    script(src="/bower_components/angular/angular.js") 
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/js/app.js")
  //- mainController ? 
  body
    .masthead 
      .navbar
        table
          tr
            td
              a(href="/")
            td.menu
              if user             
                a.nav Hello, #{user}
                a.nav( href='/log_out' ) Log Out
              else
                a.nav(href="/sign_up") Sign Up
                a.nav(href="/log_in") Log In                
    yield