html(lang="en" ng-app='app')
  head
    title Finals Club
    link(type="text/css" rel="stylesheet" href="/css/fonts.css")      
    link(type="text/css" rel="stylesheet" href="/css/app.css")      
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular/angular.js") 
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular-route/angular-route.js") 
    script(src="/js/app.js")
  body
    header#masthead
      .wrapper
        nav#login-nav
          ul
            if user
              li
                a(href="#").username ---Logged in as #{user}---
                a(href="/log_out") Log Out
            else
              li
                a(href="/sign_up")#register_link Sign Up
              li
                a(href="/log_in")#login_link Log in
        a(href='/')
          img(src='/img/logo.png' alt='Finals Club - social note taking')#logo
        nav#main-nav
            a(href="/groups/search")#school_link Find Groups
            a(href="/groups/new")#blog_link Create a Group
    .wrapper
      =yield
