html(lang="en" ng-app='app')
  head
    title Finals Club
    link(type="text/css" rel="stylesheet" href="/css/app.css")      
    link(type="text/css" rel="stylesheet" href="/css/masthead.css")      
    link(type="text/css" rel="stylesheet" href="/css/groups_view.css")      
    link(type="text/css" rel="stylesheet" href="/css/form.css")      
    link(type="text/css" rel="stylesheet" href="/css/custom.css")      
    link(type="text/css" rel="stylesheet" href="/css/group_search.css")      
    link(type="text/css" rel="stylesheet" href="/css/requests.css")      
    link(type="text/css" rel="stylesheet" href="/css/flashcards.css")      
    link(type="text/css" rel="stylesheet" href="/css/lightbox.css")      
    link(type="text/css" rel="stylesheet" href="/css/splashpage.css")      
    link(type="text/css" rel="stylesheet" href="/css/topics.css")      
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular/angular.min.js") 
    script(src="/bower_components/jquery/dist/jquery.min.js") 
    script(src="/bower_components/angular-route/angular-route.min.js") 
    script(src="/browserchannel/dist/bcsocket.js") 
    script(src="/share/webclient/share.js") 
    script(src="/share/webclient/textarea.js") 
    script(src="/js/app.js")
    script(src="/js/masthead.js")    
    script(src="/js/approveRequest.js")
    script(src="/js/createGroup.js")
    script(src="/js/editGroup.js")
    script(src="/js/editFlashcards.js")
    script(src="/js/flashcardView.js")
    script(src="/js/groupSearch.js")
    script(src="/js/groupsView.js")
    script(src="/js/homepage.js")
    script(src="/js/signUp.js")
    script(src="/js/topicsView.js")
  body(ng-controller="indexController" ng-class="homepage")
    header#masthead
      if user
        nav#login-nav
          ul
            li
              p
                a.username(href="#") #{user} 
            li.facebook-picture
              img(src='#{image}' width='50px' height='50px') 
            li
              span |
              a(href='#' ng-click='menuOpen = !menuOpen') &#x25BC;
          nav#menu(ng-show="menuOpen")
            ul
              hr
              li
                a(href="/users/#{user_id}/edit") Settings
              hr
              li
                a(href="http://www.facebook.com/logout.php?confirm=1&next={{host}}/log_out&access_token=#{user_token}") Log out 
      else if empty
        nav#login-nav
          .emptyDiv
      else
        nav#login-nav
          .signupDiv
          ul
            li
              a.loginOptions(href="/log_in") Sign Up 
            li
              a.loginOptions(href="/log_in") Log in
      .wrapper
        a(href='/')
          img(src='/img/logo.png' alt='Finals Club - social note taking' width='312px' height='39px')#logo
        nav#main-nav
          a(href="/groups/search") Find Groups
          a(href="/groups/new") Create a Group 
    .fadingWrapper.black_overlay#fade(ng-show="lightbox")
    .contentWrapper
      =yield