include index
  .mainLectureDiv(ng-controller='lectureController')
    h1 #{group}
    form(ng-submit='submitLecture()')
      table
        tr
          td
            label(for='name') Lecture name
          td
            input(type='text' placeholder='Name your lecture here...' name='name' size=60 ng-model='lecture.title')
        tr
          td
            label(for='date') Lecture date
          td
            input(type='date' name='date' ng-model='lecture.lecture_date')
        tr
          td
            input(type='submit' value='Submit')