include index
  .requestDiv(ng-controller='requestController' ng-init='requests = #{requests}')
    h1 Approve New Members
    .requestGroupDiv(ng-repeat='request in requests')
      p 
        span.bold {{ request.user_id.first_name }} {{ request.user_id.last_name }} 
        span wants to join 
        span.bold {{ request.group_id.name }}
      p
        img(src="{{request.user_id.image}}").approveMember
        a(href="" class="requests" ng-click='approve(request.user_id._id)') Approve Member
