include index
  h1 Create an Account
  form
    table
      tr
        td 
          label(for='email') Email*
        td 
          input(type='email' name='email' required size="100")
      tr
        td
          label(for='first_name') First name*
        td
          input(type='text' name='first_name' required size="100")
      tr
        td
          label(for='password') Password*
        td
          input(type='password' name='password' required size="100")
      tr 
        td
          label(for='school') School
        td
          select(ng-model='schools' ng-options='school.name for school in schools')
      tr
        td
        td
          button Submit
