include index
  h1 Create an Account
  form
    ul
      li.form
        label(for='email') Email*
        input(type='email' name='email' required)
      li.form
        label(for='first_name') First name*
        input(type='text' name='first_name' required)
      li.form
        label(for='password') Password*
        input(type='password' name='password' required)
      li.form 
        label(for='school') School
        select(ng-model='schools' ng-options='school.name for school in schools')
      li
        button Submit
