include index
  .homepage(ng-controller="homepageController" ng-init="load()")
    h2.splashpageTitle Welcome to FinalsClub
    h3.splashpageTitle The home of online social note taking
    a(href='/auth/facebook')
      button.splashpage Log in with Facebook
    span - or -
    a(href='/auth/facebook')
      button.splashpage Sign up with Facebook
