::-moz-selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #44a1dd;
  color: #fff;
  text-shadow: none; }

html, body {
  height: 100%;
  margin: 0; }

body {
  /*font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
  background-position: 20% 0; }

#masthead {
  background-color: #262626; 
}


.wrapper, .contentWrapper {
  font-family: "futura-pt", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.contentWrapper {
  margin-top: 2.3em;
  padding-bottom: 5em;
}

#masthead .wrapper {
  border-bottom: 5px solid #e8a200; }

h1 {
  padding:0;
  margin: 0;
  text-align: left;
  position: relative;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }

.groupNav a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.groupNav {
  padding-bottom: 1em;
}

header a {
  text-decoration: none;
  font-weight: normal;
  color: #e8a200; }
  a:hover {
    color: #e8a200; }

#login-nav a.username {
  color: white; }
li {
  list-style: none; }
p {
  color: #444; }
a {
  text-decoration: none;
  font-weight: normal;
}

img {
  max-width: 100%; }

input[type='button']{
  cursor: pointer;
}

button, .button, input[type='submit'] {
  cursor: pointer;
  padding: 0.375em 1em;
  border: 0;
  background-color: #333;
  border: 1px solid #000;
  color: #fff;
  height: 2em; 
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 20px; }

.facebook {
  background-color: #7D7DAF; }

#login-nav {
  min-height: 5%;
  background-color: #262626;
  width: 100%;
  padding-top: 0.25em;
  text-align: right; }

#login-nav li {
  font-size: 0.75em;  
  display: inline; }

#login-nav a {
  padding: 0 0.75em;
  color: #ffcd58; }

#logo {
  float: left;
  position: relative;
  bottom: 2.4em;}

#main-nav {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  float: right;
  padding: 0 0.75em; 
  position: relative;
  bottom: 1.5em; }

#main-nav li {
  display: inline;
  vertical-align: middle; }

#main-nav a {
  position: relative;
  margin-left: 1.5em;
  color: #fff; 
  font-size: 1.2em; }

#main-nav a:hover {
  color: #e8a200; }

.input_error {
  color: #D8D8D8;
  margin-left: 0.75em;
  font-size: 0.75em; }

/*-------------------FORM ELEMENTS-------------------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

table {
  margin-top: 20px; }

input {
  height: 3em;
  padding-left: 1%;
  font-size: 0.75em;
  border: 1px solid #D8D8D8;
  background-color: #e3e3e3; }


textarea {
  border-radius: 0; }
/*
form td:first-child {
  text-align: left; }*/

td {
  padding-bottom: 20px; }

label {
  font-weight: 400;
  font-size: 1em; }

.selectField {
  border: 1 solid #e3e3e3;
  width: 100%;
  height: 2em;
  border-radius: 0;
  padding-left: 1.2em;
  -webkit-appearance: none;
}

.groupDiv {
  width: 50%;
}


.gray {
  color: gray; 
  float: right;
  font-weight: normal;
  position: relative;
  bottom: 1em;
  margin: 0;
}
  
hr {
  width: 100%;
}

.communicationsDiv {
  width: 35%;  
  float: right;
  background-color: #E9EAEB;
  padding: 0.5em;
  min-height: 400px;
}

h3 {
  text-align: center;
  text-align: left;
  margin-bottom: 5px;
}

.requests {
  padding: 0.5em;
  background-color: #F3DD37;
  float: right;}

.requests.find {
  left: -3em;
}
  
a {
  font-weight: normal;
  color: black;
}

#searchForGroup {
  width: 100%;
}

.findGroupBox{
  border: 1px solid #D8D8D8;
  min-height: 10em;
  max-height: 30em;
  overflow: scroll;
  padding-bottom: 2em;
}

.findGroupButton {
  margin: 0;
  border-radius: 10px 10px 0 0;
}
.findGroupButton.clicked{
  background-color: gray;
}
.findGroupButton:active {
}

hr.smaller {
  width: 98%;
  border: thin solid #D8D8D8;
}
hr.smaller.mainPage {
  width: 100%;
}

.findGroupBox input[type='button'] {
  position: relative;
  bottom: 1em;
} 

.bold {
  font-weight: bold;
}

.approveMember {
  zoom: 1.5;
}

.grayed {
  color: gray;
  font-size: 0.75em;
}

.grayed#intensity {
  color: #333;
  font-size: 0.8em;
  padding-bottom: 0.3em;
}

.entry {
  float: left;
  position: relative;
  padding: 1em;
  bottom: 2em;
}

.entry_answer {
  position: relative;
  bottom: 2em;
  padding: 0 1em;
}

.ignore {
  float: right;
  position: relative;
  bottom: 3em;
  color: gray;
}

.flashcard {
  position: relative;
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  width: 16em;
  height: 9em;
  line-height: 9em;
  margin-right: 3%;
  margin-top: 2%;
  -moz-box-shadow: 0 0 10px 2px #D8D8D8;
  -webkit-box-shadow: 0 0 10px 2px #ddd;
}
.flashcardDiv {
  position: relative;
  bottom: 5em;
  margin: 0 auto;
  width: 90%;
}

.flashcardTerm, .flashcardDef {
  margin: 0 auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  height: 60%;
  width: 90%;
  text-align: center;
}

.flashcardTerm p {
  margin-top: 25%;
  font-size: 3em;
}

.flashcardDef p {
  margin-top: 25%;
  font-size: 2em;
}

.leftArrow, .rightArrow {
  cursor: pointer;
  height: 0;
  width: 0;
}

.leftArrow {
  position: relative;
  top: 11em;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid yellow;
}

.rightArrow {
  float: right;
  position: relative;
  top: 5em;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid yellow;
}

.shareDiv {
  text-align: center;
}

.shareDiv span {
  margin: 5px;
  font-size: 0.75em;
  font-weight: normal;
  color: green;
}