
html,
body {
  height: 100%;
  margin: 0; 
}

body {
  background-position: 20% 0; 
}

#masthead {
  background-color: #262626; 
}

.wrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

#masthead .wrapper {
  border-bottom: 5px solid #e8a200;
}

h1 {
  margin-left: 20px;
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #e8a200; 
}

a:hover {
  color: #e8a200; 
}

#login-nav a.username {
  color: white;
}

p {
  margin: 20px;
  color: #444; 
}

img {
  max-width: 100%; 
}

button, .button, input[type='submit'] {
  padding: 0.375em 1em;
  border: 0;
  background-color: #333;
  border: 1px solid #000;
  color: #fff;
  height: 2em; 
  font-size: 1.5em;
  margin-bottom: 20px;
}

.facebook {
  background-color: #7D7DAF;
}

#login-nav {
  padding: 0.375em 0.75em 0.75em;
  text-align: right; 
}

#login-nav li {
  display: inline; 
}

#login-nav a {
  padding: 0 0.75em;
  color: #ffcd58; 
  font-size: 1.5em;
}

#logo {
  float: left;
  zoom: 1.3;
  position: relative;
  top: -20px;
}

#main-nav {
  text-align: right;
  padding: 0 0.75em;
}

#main-nav li {
  display: inline;
  vertical-align: middle; 
}
#main-nav a {
  position: relative;
  margin-left: 1.5em;
  color: #fff; 
  font-size: 1.7em;
}

/*-------------------FORM ELEMENTS-------------------------*/

table {
  margin-top: 20px;
}

input {
  height: 3em;
  border-radius: 5px;
  margin-left: 2%;
}

textarea {
  margin-left: 2%;
  border-radius: 5px;
}

form td:first-child {
  text-align: right;
}

td {
  padding-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 1.5em;
}
