/*-------------------MASTHEAD, LAYOUT ELEMENTS, AND LOG IN PAGE-------------------------*/

.wrapper, .contentWrapper {
  font-family: "Helvetica", "Arial", sans-serif;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.contentWrapper {
  margin-top: 2.3em;
  padding-bottom: 5em;

}

#masthead .wrapper {
  border-bottom: 5px solid #e8a200; 
}

header a {
  text-decoration: none;
  font-weight: normal;
  color: #e8a200; 
}

/*-------------------MENU-------------------------*/

#menu {
  background-color: #262626;
  width: 10%;
  float: right;
  position: relative;
  bottom: 0.175em;
}

#menu hr {
  height: 1px;
  border: none;
  background-color: gray;
  padding-right: 0;
}

#login-nav #menu ul {
  padding: 0;
  margin-right: 0;
  position: relative;
  bottom: 1em;
}

#login-nav #menu ul li {
  padding-right: 1em;
  padding: 0.5em;
}

#login-nav #menu ul li:hover {
  background-color: gray;
}

#login-nav #menu li {
  display: block;
}

/*-------------------LOG IN NAV-------------------------*/

#login-nav {
  font-family: sans-serif;
  min-height: 70px;
  max-height: 10%;
  background-color: #262626;
  width: 100%;
  padding-top: 0.25em;
  padding-right: 2em;
  text-align: right; 
}

#login-nav a.username {
  color: white; 
}

#login-nav ul {
  margin-bottom: 0;
  margin-right: 1em;
  position: relative;
  bottom: 0.5em;
}
#login-nav ul li {
  display: inline-block;
  font-size: 0.9em;
  line-height: 120%;
}

#login-nav li:last-child a {
  font-size: 0.5em;
}

#login-nav #menu li:last-child a {
  font-size: 1em;
}

#login-nav p {
  padding: 0;
  margin: 0;
  margin-right: 1em;
}

#login-nav a {
  padding: 0 1.2gem;
  color: #ffcd58; 
}

#logo {
  float: left;
  position: relative;
  bottom: 2.4em;
}

/*-------------------MAIN NAV-------------------------*/

#main-nav {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  float: right;
  padding: 0 0.75em; 
  position: relative;
  bottom: 1.7em; 
}

#main-nav li {
  display: inline;
  vertical-align: middle; 
}

#main-nav a {
  position: relative;
  margin-left: 1.5em;
  color: #fff; 
  font-size: 1.2em; 
}

#main-nav a:hover {
  color: #e8a200; 
}

.signupDiv {
  margin-top: 3em;
}

.loginOptions {
  margin: 0.75em;
}

.loginButton {
  width: 80%;
  height: 6em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}

/*-------------------LOG IN PAGE-------------------------*/
.loginDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}
.login {
  position: relative;
  top: 2em;
  background-color: #7D7DAF;
  opacity: 0.8;
  border: 0;
  margin: 0.5em;
  width: 15em;
}

.login:hover {
  background: #49495B;
}

.or, .or:hover {
  text-align: center;
  background-color: transparent;
}

p:last-child .facebook {
  background-color: #5C5C5C;
}

p:last-child .facebook:hover {
  background-color: #333;
}