div.createGroup
  li.createTitle Course affiliation
    input.createGroup(max=140)
  li.createTitle Group name
    input.createGroup(max=140)
  li.createTitle Motto
    input.createGroup(max=140)
  li.createTitle Description
    input.createGroup(max=500)  