h1 Log in
form
  //- or sign in with facebook
  //- or sign up with facebook
  //- facebook will bring back a user's token based on that object
  //- with success func logged in
  //- create new user with facebook token information
  //- if new user, redirect to sign up form
  //- edit 
  li.form School email
  input(type='text' name='school_email' required)#school_email
  li.form Password
  input(type='submit') Log in
      //- a(href="reset_pass")
a(href='/sign_up') Create an account
