div.groupDiv(ng-controller='groupViewController' ng-repeat='group in groups')
  li.groupName {{ group.Name }}
  li.groupNav(ng-controller='groupViewNavigation') {{ navigation }} 
   //- add groupname to each link in nav
  //- does this need to be its own controller?
  div.groupMembers(ng-repeat='member in group.members')
    span.groupMember {{ member }}


