div.groupDiv(ng-controller='allGroupsViewController' ng-repeat='group in usersGroups')
  
  li.groupName {{ group.Name }}
  
  li.groupNav
    a(href="'{{group.Name}}'" + "/flashcards") | 
    a(href="'{{group.Name}}'" + "/communications") | 
    a(href="'{{group.Name}}'" + "/meetUp") 

  div.groupMembers(ng-repeat='member in group.members')
    span.groupMember {{ member }}


