h1 Create an Account
label.signUp School email*
  input
label.signUp Password*
  input
label.signUp Username
  input
label.signUp School
  ng-options="item.id as (item.name + '-' + item.another_attribute) for school in schools" 

label.signUp Affiliation
