//- public/js/
tr
  td
    label Course affiliation*
  td
    datalist#courseList
      option(ng-repeat="course in courses" value="{{course.name}}")
    input(name="courseList" list="courseList", size='60' ng-model="group.course_name" value="" placeholder="Enter affiliated course" required)
tr
  td
    label Group name*
  td
    input.createGroup(name='group_name' ng-model='group.name' ng-minlength='1' size='60' placeholder="Enter a group name..." required)
tr
  td
    label Motto
  td
    input.createGroup(size='60' ng-model='group.motto' placeholder="Enter a motto...")
tr
  td
    label Description
  td
    textarea.createGroup(cols='43', rows='10' ng-model='group.description' placeholder="Enter a short description...")
tr
  td
    label Entry Question
  td
    input.createGroup(size='60' ng-model='group.entry_question' placeholder="Why do you want to join this group?")
tr 
  td
    label(for='intensity') Intensity
  td
    select(ng-model='group.intensity' ng-options='intensity for intensity in intensities' value='low' ).selectField
       option(value="") select intensity 
tr
  td
  td 
    input(type='submit' value="Submit")#submit