include ../index
  h1 Create a Group
  hr
  form(name='createGroupForm' ng-controller='createGroupController' ng-submit='submit()' ng-init='courses = #{courses}')
    table
      include _form

include ../footer