include ../index
  .editGroup(ng-controller="editGroupController" ng-init="group = #{group}; courses = #{courses}")
    h1 edit group: {{group.name}}
    hr
    .error(ng-show="error") Please pick a date in the future.
    form(ng-submit="edit()")
      table
        tr
          td 
            label(for="group.next_meeting") Next meeting
          td
            input(type="date" ng-model="group.next_meeting" size="60")
        include _form
    a.grayed(href="#" ng-click="leave()") Leave group |   
    a.grayed(href="#" ng-click="delete()") Delete group
