include ../index
  .editGroup(ng-controller="editGroupController" ng-init="group = #{group};")
    h1 edit group: {{group.name}}
    hr
    if JSON.parse(group).next_meeting
      h4 Next meeting: {{group.next_meeting | date: "mediumDate"}}
    else
      h4 Next meeting: none 
    form(ng-submit="submitDate()")
      p
        label(for="group.meeting_date") Edit your next meeting
      p
        input(type="date" ng-model="meeting")
      p
        input(type="submit" value="Submit")
    