include ../index
  .joinDiv(ng-controller="findGroupController")
    h1 Request to join group: #{group.name}
    form
      p 
        span.bold Entry question: 
        span #{group.entry_question}
      p
        textarea(cols="50" rows="10" ng-model='request.entry_answer')  
      p 
        input(type="submit" value="submit" ng-click='submit_answer()')
        
