include ../index
  .leaveDiv(ng-controller="allGroupsViewController")
    h1 Leave group 
    p Are you sure you want to leave 
      span.bold #{group}
      span ?
    button(ng-click='leaveGroup()') Confirm