include ../index
  h1 #{group_name}
  hr
  .shareDiv(ng-controller="shareController" ng-init="flashcards = #{flashcards}; topic = #{topic}")
    a.requests(href="#" ng-click="addFlashcard()") + Add flashcard
    h3 {{topic.title}}
      span Saved!
    p
    #editors(data-user="#{user}")
    p
    .shareDivWrapper
      .flashcardPad(ng-repeat="flashcard in flashcards")  
        .cardPads(id="{{topic._id}}-pad{{$index}}")
          textarea.editTerm(id="{{topic._id}}-pad{{$index}}-term" placeholder="Enter term here..." ng-keydown="addRow($event, $index)")
          textarea.editDef(id="{{topic._id}}-pad{{$index}}-def" placeholder="Enter definition here..." ng-keydown="addRow($event, $index)")
          button(ng-click="removeFlashcard($index)" id='removeButton') x
      button(ng-click="saveText()") Save Flashcards
    a(href="/groups/{{topic.group_id._id}}/flashcards/{{topic._id}}/") See flashcards
      
  