include ../index
  h1 Log in
  hr
  p
    a(href='/auth/facebook')
      button.loginButton.facebook Log in with Facebook
  p
    a(href='/auth/facebook')
      button.loginButton.facebook Sign up with Facebook