include ../index
  h1 Log in
  hr
  p
    a(href='/auth/facebook')
      button(class="loginButton facebook") Log in with Facebook
  p
    a(href='/auth/facebook')
      button(class="loginButton facebook2") Sign up with Facebook