include ../index
  h1 Log in
  hr

  h4.gray Please sign in with Facebook to use FinalsClub.
  p.loginDiv
    a(href='/auth/facebook')
      button.login Log in with Facebook
    a(href='/auth/facebook')
      button.login.facebook Sign up with Facebook
